server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: identity.service

  datasource:
    url: "jdbc:mysql://localhost:3306/identity"
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true